.correct{
    -fx-fill: green;
}

.default{
    -fx-fill: black;
}

.error{
    -fx-fill: red;
    -fx-underline: true;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.exception{
    -fx-fill: blue;
}

#textField{

}